body {
  font-family: sans-serif;
}

.sheet-container {
  display: block;
  padding: 5px;
  -webkit-box-shadow: 0 0 6px #ccc;
  box-shadow: 0 0 6px #ccc;
  margin: auto;
  width: 500px;
  margin-top: 20px;
}

table.data-grid {
  margin: auto;
  width: 100%;
}
